<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cucumber Test Suite">
    <test name="Cucumber Test">
        <classes>
            <class name="testRunners.CucumberTestRunner"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="lib.CustomTestListener"/>
    </listeners>
</suite>
<!-- npx allure-commandline serve /Users/vikram/IdeaProjects/demo/allure-results;-->
